/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #CONTAINER
        #MEDIAQUERIES
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* TYPOGRAPHY - BASE BODY*/

body {
    font-size: 87.5%; /* 14px */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color:rgba(0, 0, 0, .8);
}

/* headings */
/* 
   Based on a Traditional Typographic Scale
   48, 36, 24, 21, 18, 16
*/

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3.8em; /* 48px */
    color: rgba(250, 0, 0);
    font-family: Goudy Old Style;
    line-height: 1;
}

h2 {
    font-size: 3.12em; /* 50px */
    color: rgba(79, 53, 211);
    font-family: Berlin Sans FB;
    line-height: 1.1;
    text-align: center;
    font-weight: 100;
}

h3 {
    font-size: 2.5em; /* 40px */
    color: rgba(255, 103, 0);
    font-family: Britannic;
    line-height: 1.4;
    text-align: center;
}

h4 {
    font-size: 1.5em; /* 24px */
    color: rgba(79, 53, 211);
    font-family: Arial;
    line-height: 1.3;
    text-align: center;
}

h5 {
    font-size: 1em; /* 14px */
    color:rgba(255, 103, 0);
    line-height: 1.4;
    text-align: center;
}

h6 {
    font-size: 0.8em; /* 12px */
    line-height: 1;
    text-align: center;
}

/* PARAGRAPHS */
P {
    margin: .5em 0;
    max-width: 38em;
}

/* LINKS */
a {
    color: rgba(0, 0, 153, .8);
}

a:hover {
    color: rgba(0, 0, 153, 1);
    text-decoration: none;
}

/* HELPER CLASSES */
.text-centered {
    text-align: center;
}
.full-width {
    max-width: none;
    width: 100%;
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
}

.text-image {
    position:relative;
    width: 500px;
}

.text-image {
    width: 100%;
}

.text-image p {
    position: absolute;
    top: 25%;
    left:40%;
    font-size: 60px;
    color: #FF0000;
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
.button,
button {
    font-size: inherit;
    line-height: 1;
    background-color: rgba(236, 178, 234);
    border: 1px solid rgba(236, 178, 234);
    color: rgba(29, 10, 217);
    padding: 1em;
    display: inline-block;
    margin: 0.5em .5em .5em 0;
    text-align: center;
    border-radius: .5em;
}

.button:hover,
button:hover {
    background-color: rgba(236, 178, 234);
    border-color: rgba(236, 178, 234);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.button.alt {
    background-color: transparent;
    color: rgba(0, 0, 153, 1);
}

.button.alt:hover {
    background-color: rgba(0, 0, 153, 1);
    color: rgba(255, 255, 255, 1);
}

/* LAYOUT */

/* SIMPLE RESET */
* {box-sizing: border-box;}
body {margin: 0;}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}

/* MEDIA QUERIES */

@media(min-width: 768px) {
/* TABLET SIZED STYLING GOES HERE */    
}

@media(min-width: 1050px) {
    body {
        font-size: 100%; /* 16px */
    }
}

@media(min-width: 1250px) {
    body {
        font-size: 112.5%; /* 18px */
    }
    .container {
    }
}

/* FOR DEMO PURPOSES ONLY */
body.demo {
    padding-top: 2em;
}
body.demo::before {
    content: "Small Screen (Mobile) Less Than 768px";
    background-color: #933;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    color: white;
    padding: 0.3em;
}

@media(min-width: 768px) {
    body.demo::before {
        background-color: #bcb83d;
        content: "Midsize (Tablet) Screen 768px - 1050px";
    }
}

@media(min-width: 1050px) {
    body.demo::before {
        background-color: #bcb83d;
        content: "Large (Notebook)Screen 1050px - 1250px";
    }
}

@media(min-width: 1250px) {
    body.demo::before {
        background-color: #89c;
        content: "Extra Large (Desktop)Screen 1250px";
    }
}

/* SEMANTIC GRID SYSTEM */

.row > .column {
    margin-bottom: 4%;
}

@media(min-width: 768px) {

    .row {
        display: flex;
        justify-content: space-between;
        margin-left: -2%;
        margin-right: -2%;
    }

    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-half {
        max-width: 46%;
    }

    .row > .column.one-third {
        max-width: 29.333%;
    }

    .row > .column.one-forth {
        max-width: 21%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
  
}




/* FOR DEMO PURPOSES ONLY */
.demo .column {
    background: rgba(0, 0, 0, .2);
    padding: 1em;
    text-align: center;
    }

/* SITE STRUCTURE */

/* SITE HEADER */
.site-header {
    padding: 1em 0;
    background-color: rgba(218, 59, 186);
    font-size: 1em; /* 14px */
    color: rgba(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
/* @media (min-width: 768px) {
    .site-header .container {
        display: flex; 
        justify-content: space-between;
    }
} */

/* STYLING FOR BOTH HEADER AND FOOTER */
.site-header a,
.site-footer a {
    color: rgba(0, 0, 0, .8);
}

.site-header a:hover,
.site-footer a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

/* LOGO AREA */

.site-id h1 {
    font-size: 1.5em;
    margin: 0;
    padding-top: 0.55em;
    text-align: center;
}

/* SITE NAV */


.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.site-nav a {
    display: block;
    padding: 1em;
}

/* SITE MAIN */
.site-main {
/* background-color: rgba(0, 255, 0, .2);  */
}

/* SECTIONS */
section {
    padding: 6em 0;
    align-self: center;
}

.order {
    padding-top: 3em;
    padding-bottom: 3em;
}

/* SITE FOOTER */
.site-footer {
    /*background-color: rgba(0, 0, 255, .2);*/
}

.site-footer a {
    color: rgba(0, 0, 0, .8);
}


/* HERO */
.hero {
    padding: 6em 4%;
    background-color: rgba(0, 0, 0, .1);
    text-align: center; 
}

.hero h1, 
.hero p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.hero h1 {
    font-size: 4em; 
}

/* CUSTOM HOME PAGE STYLING */

.hero {
    background-image: url('../img/peony.jpg');
    background-position: center top;
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.hero2 {
    max-width: 100%;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 3em;
}

.border {
    border-style: dashed;
}

