CSS
/* #CSS
---------------------------------
    #HTML5
    #BODY
        #TYPOGRAPHY
    #HELPERS
    #IMAGES
    #BUTTONS
    #SITE STRUCTURE
        #HEADER
            #SITE-BRANDING (LOGO)   
            #SITE NAVIGATION
        #FOOTER
        #SECTIONS
            #HERO
    #LAYOUT
        #GRIDS
    #EFFECTS (FADE-INS)
--------------------------------- */

/* #TYPOGRAPHY  */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,.7);
  background-color: #F5EEF8;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  font-size: 87.5%;
  line-height: 1.5em;
}

h1 {
  font-size: 4em;
  font-family: candara;
  display: inline-block;
  background-image: linear-gradient(to bottom, #00ddff, #ff00d4);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    font-family: Microsoft YaHei UI;
    color: #1f2f98;
    line-height: normal;
    max-height: none;
    min-height: 0px;
    font-weight: bold;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }

h3 {
    font-size: 2em;
    font-family: Gabriola;
    color: #0c71e0;
    line-height: 1em;
    font-weight: lighter;
    max-height: none;
    min-height: 0px;
    margin-bottom: 0;
  }

h4 {
    font-size: 0.8em;
    font-family: Microsoft YaHei UI;
    line-height: normal;
    max-height: none;
    min-height: 0px;
    font-weight: bold;
    text-align: left;
    margin-top: 0;

  }
  
h5 {
    font-size: 1em;
    font-family: Microsoft YaHei UI;
    color: #1f2f98;
    line-height: normal;
    max-height: none;
    min-height: 0px;
    font-weight: lighter;
    text-align: right;
    margin-top: 0;
  }

  h6 {
    font-size: 1em;
    font-family: Microsoft YaHei UI;
    line-height: normal;
    font-weight: normal;
    text-align: left;
    margin-top: 0;
  }

  p {font-size: 1em;
    font-family: Microsoft YaHei UI;
    line-height: normal;
    font-weight: lighter;
    text-align: left;
    margin-top: 0;
  }


/* #LINKS */
a {
color: rgba(0,0,0,.4);
text-decoration: none;
}

a:hover {
color: rgba(0,0,0,.6);
}

/* HELPERS */
.text-centered {
text-align: center;
}

/* #IMAGES */
img {
max-width: 100%;
height: auto;
}

.caption {
    font-size: 2em;
    float: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

/* SITE-STRUCTURE */

.site-header,
.site-footer {
    text-align: center;
    padding: 3em 0 2em 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.site-identity h1 {
    font-size: 2em;
    margin: 0;
    font-weight: normal;
}

.site-navigation ul {
    margin: 0;
    padding: 2em 0;
}

.site-navigation li {
    margin: 0 .5em;
    padding: 0;
    display: inline-block;
}

.site-navigation a {
    display: block;
    padding: 1em .5em;
    color: rgba(0,0,0,.4);
}

.site-navigation a:hover,
.site-navigation a.selected {
    color: rgba(0,0,0,.6);
    border-bottom: 0.05em solid rgba(0,0,0,.2);
}

section {
    padding: 0 0 3em 0;
}

/* #LAYOUT: THUMB IMAGE GRID */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container1 {
    max-width: 600px;
    margin: 0 auto;
}

.thumbgrid {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0%;
  margin: 0;
}

.thumbgrid li {
  list-style: none;
  width: 49.5%;
  padding-bottom: 0.4%;
}

@media (min-width: 768px) {
  .thumbgrid li {
    width: 24.5%;
  }
}

.thumbgrid a img {
    filter: brightness(1.05);
    transition: all ease-in-out 0.2s;
    border: 1px solid rgba(255,255,255,0);
}

.thumbgrid a:hover img {
    filter: brightness(1);
    border: 1px solid rgba(0,0,0,.3);
}

a:hover {
    color: brown;
}

